@tailwind base;
@tailwind components;
@tailwind utilities;

[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

.custom-gradient-border {
  border-image-source: linear-gradient(to right, #ff7e5f, #feb47b);
  border-image-slice: 1;
}

.delayed-z-index {
  transition: z-index 0s linear 1s; /* Z-index changes after 1s, allowing scale transition to finish */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
